/*
(c) Copyright 2019 Jason Dore

Inspired by the excellent Seamly2D/Valentina pattern drawing software.
This library is a ground up implementation in Javascript intended to be compatible with, but
not based on, the Seamly2D/Valentina pattern making systen in order to support the community
pattern sharing website https://my-pattern.cloud/ . 

Source maintained at: https://github.com/MrDoo71/PatternEditor
*/

span.ps-name,
a.ps-ref {
    font-weight: bold;
}

g.j-item.j-active a.ps-ref {
    /*text-decoration: underline; try dotted */
    color:#2b7cb3; /*text hyperlink to other drawing objects in the table*/
    cursor: pointer;
}

g.j-item span.const {
    color: #ae2eae; /*constant value in the table*/
}

.k-dark-mode
g.j-item span.const {
    color: #ee60ee; 
}

g.j-drawing line.dotLine,
g.j-drawing path.dotLine {
    stroke-dasharray: 0.25, 0.25; 
}

g.j-drawing line.dashLine,
g.j-drawing path.dashLine {
    stroke-dasharray: 1, 0.25; 
}

g.j-drawing line.dashDotLine,
g.j-drawing path.dashDotLine {
    stroke-dasharray: 1, 0.25, 0.25, 0.25; 
}

g.j-drawing line.dashDotLine,
g.j-drawing path.dashDotLine {
    stroke-dasharray: 1, 0.25, 0.25, 0.25; 
}

g.j-drawing line.dashDotDotLine,
g.j-drawing path.dashDotDotLine {
    stroke-dasharray: 1, 0.25, 0.25, 0.25, 0.25, 0.25; 
}

g.j-drawing line.solidLine,
g.j-drawing path.solidLine,
g.j-drawing line.hair, /*deprecated*/
g.j-drawing path.hair  /*deprecated*/
{
    stroke:solid;
}

g.j-drawing circle {
    fill:#999; 
    stroke-width: 0px;
}

body.k-dark-mode
g.j-drawing circle {
    fill:#4992b6; 
}

g.j-drawing text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    fill:#000;
}

body.k-dark-mode
g.j-drawing text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /*TODO other font?*/
    fill:#d8d8d8;
}


g.j-drawing g.j-active > circle {
    fill:#000;
}

body.k-dark-mode
g.j-drawing g.j-active > circle {
    fill:#67cdff;
}

g.j-item div.desc {
    padding: 4px 8px;
    border:1px solid #ccc;
}

g.j-item.j-measurement div.desc {
    background-color: #ffe7ef;
}

body.k-dark-mode
g.j-item.j-measurement div.desc {
    color:#000;
}

g.j-item.j-increment div.desc {
    background-color:#e7faff;
}

body.k-dark-mode
g.j-item.j-increment div.desc {
    color:#000;
}

g.j-item.j-active div.desc {    
    padding: 3px 7px;
    border:2px solid #333;
    background-color: #ffc;
}

body.k-dark-mode
g.j-item.j-active div.desc {
    color:#000;
}

g.j-item.error div.desc {    
    padding: 3px 7px;
    border:2px solid #ff0000;
    background-color: #fcc;
}

body.k-dark-mode
g.j-item.error div.desc {
    color:#000;
}

g.j-item.error.j-active div.desc {    
    background-color: #fcc; 
}

body.k-dark-mode
g.j-item.error.j-active div.desc {    
    color: #000;
}

g.j-item.error div.error {
    color: red;
    font-weight: bold;
}


g.j-item div.desc td { 
    padding-right: 8px; 
}

path.link {
    fill:none;
    stroke: #ddd;
    stroke-width: 1px;    
}

body.k-dark-mode
path.link {
    stroke: #444;
}

path.link.source,
body.k-dark-mode path.link.source {
    fill:none;
    stroke:#449fdc;
    stroke-width: 3px;    
}

path.link.target, 
body.k-dark-mode path.link.target
{
    fill:none;
    stroke:#4ddc44;
    stroke-width: 3px;    
}

g.j-item.source div.desc {
    border-width:2px;
    border-color: #449fdc;
    padding: 3px 7px;
}

g.j-item.target div.desc {
    border-width:2px;
    border-color: #4ddc44;
    padding: 3px 7px;
}

g.j-outline circle {
    fill: #fff;
    opacity: 0.01; /* like none, but clickable*/
    stroke-width: 0px;
}

g.j-outline path,
g.j-outline line {
    stroke: #fff;
    opacity: 0.01; /*like none, but clickable*/
}

/*
g.j-outline.target > circle {
    fill: #4ddc44;
    opacity: 1;
}*/

g.j-outline g.source > circle {
    fill: #449fdc80;
    opacity: 1;
}

@keyframes k-throb-stroke {
    0% {
      stroke:#fff;
      opacity: 0.01;
    }
    5% {
      stroke: #ff8;
      opacity: 1;
    }
    100% {
        stroke:#fff;
        opacity: 0.01;
    }
}

g.j-outline g.j-active > circle {
    fill: #ff8;
    opacity: 1;
}

body.k-dark-mode
g.j-outline g.j-active > circle {
    opacity: 0.5;
}   

g.j-outline g.j-active:not(.j-active-2s) > path,
g.j-outline g.j-active:not(.j-active-2s) > line {
    /*stroke: #ff8;*/
    animation-name: k-throb-stroke;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}

/* the line from a point to its label positioned at mx,my */
line.labelLine {
    stroke:#d0d0d0;
}

body.k-dark-mode
line.labelLine {
    stroke:#999;
}

div.pattern-editor-controls {    
    margin-bottom:15px;
}


div.pattern-editor-resize {
    display: inline-block;
    margin-left:10px;
    margin-right:10px;
    width:2px;
    border:1px solid #eee;
    position: relative;
}

body.k-dark-mode
div.pattern-editor-resize {
    border:1px solid #666;
}

div.pattern-editor-resize:hover{
    border-color: black;
    cursor: ew-resize;
}

body.k-dark-mode
div.pattern-editor-resize:hover{
    border-color: #eee;
}

div.wallpapers { 
    position: absolute; 
    height: 85px;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 1; 
    margin-top:6px; 
    padding:6px; border-radius:6px;
    background: linear-gradient( rgb(255, 255, 255), rgba(255, 255, 255, 0)) }
div.wallpapers > div.fadeout {
    width: 100%;
    bottom: 0px;
    height: 15px;
    position: absolute;
    background: linear-gradient( rgba(255, 255, 255, 0), rgb(255, 255, 255))
}
div.wallpapers:hover { 
    height: initial;
    overflow-y: visible;
    z-index: 1; 
    background-color: white }
div.wallpapers:hover > div.fadeout {
    display:none;
}
div.wallpapers > table td { padding-left:6px; }
div.wallpapers > table tr.wallpaper-hidden td { color:#ccc; }

svg.pattern-drawing { 
    display: inline-block;
}

div.pattern-table { 
    display: inline-block;
    overflow-y: scroll;
    vertical-align: top;
}

div.pattern-table:first-child { 
    margin-left:15px;
}

button.toggle-full-page,
button.toggle-show_formulas {
    margin-left: 8px;
}

div.pattern-editor div.pattern-main {
    position:absolute;
    right:0px;
    left:0px;    
}

div.pattern-editor.full-page {
    /* better, but is then on top of any callouts! also adjust availeble width/height by 30 
    position:fixed; z-index: 2000;
    top:0px;
    left:0px;
    right:0px;
    bottom: 0px;
    padding: 15px;
    */
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    padding:15px;
    background-color: white;
}

body.k-dark-mode
div.pattern-editor.full-page {
    background-color:#222222;
}


div.pattern-editor.full-page div.pattern-main {
        position: static;
}

/*TODO change the js to put the colour as a class, not directly set the stroke
path.darkRed
{
    stroke: darkred;
}
Then we can tweak the colour for dark mode. 
body.k-dark-mode 
*/

