/*
(c) Copyright 2019 Jason Dore

Inspired by the excellent Seamly2D/Valentina pattern drawing software.
This library is a ground up implementation in Javascript intended to be compatible with, but
not based on, the Seamly2D/Valentina pattern making systen in order to support the community
pattern sharing website https://my-pattern.cloud/ . 

Source maintained at: https://github.com/MrDoo71/PatternEditor
*/

/* references and text within table */

.btn-group {
    z-index: initial; /*Undo a BS3 carry over to BS5 that causes issues with full-page mode*/ 
}

span.ps-name,
a.ps-ref {
    font-weight: bold;
}

g.j-item.j-active a.ps-ref {
    color:#2b7cb3; /*text hyperlink to other drawing objects in the table*/
    cursor: pointer;
}

g.j-item span.const {
    color: #ae2eae; /*constant value in the table*/
}

.k-dark-mode
g.j-item span.const {
    color: #ee60ee; 
}

/* drawing line styles */

/*cm as a default*/
g.j-drawing line.dotLine,
g.j-drawing path.dotLine,
g.j-pieces path.dotLine {
    stroke-dasharray: 0.1, 0.2; 
}

.mm g.j-drawing line.dotLine,
.mm g.j-drawing path.dotLine,
.mm g.j-pieces path.dotLine {
    stroke-dasharray: 1, 2; 
}

.inch g.j-drawing line.dotLine,
.inch g.j-drawing path.dotLine,
.incb g.j-pieces path.dotLine {
    stroke-dasharray: 0.04, 0.08; 
}


g.j-drawing line.dashLine,
g.j-drawing path.dashLine,
g.j-pieces path.dashLine {
    stroke-dasharray: 0.5, 0.25; 
}

.mm g.j-drawing line.dashLine,
.mm g.j-drawing path.dashLine,
.mm g.j-pieces path.dashLine {
    stroke-dasharray: 5, 2.5; 
}

.inch g.j-drawing line.dashLine,
.inch g.j-drawing path.dashLine,
.inch g.j-pieces path.dashLine {
    stroke-dasharray: 0.2, 0.1; 
}

g.j-drawing line.dashDotLine,
g.j-drawing path.dashDotLine,
g.j-pieces path.dashDotLine {
    stroke-dasharray: 1, 0.25, 0.25, 0.25; 
}

.mm g.j-drawing line.dashDotLine,
.mm g.j-drawing path.dashDotLine,
.mm g.j-pieces path.dashDotLine {
    stroke-dasharray: 10, 2.5, 2.5, 2.5; 
}

.inch g.j-drawing line.dashDotLine,
.inch g.j-drawing path.dashDotLine,
.inch g.j-pieces path.dashDotLine {
    stroke-dasharray: 0.4, 0.1, 0.1, 0.1; 
}


g.j-drawing line.dashDotDotLine,
g.j-drawing path.dashDotDotLine,
g.j-pieces path.dashDotDotLine {
    stroke-dasharray: 1, 0.25, 0.25, 0.25, 0.25, 0.25; 
}

.mm g.j-drawing line.dashDotDotLine,
.mm g.j-drawing path.dashDotDotLine,
.mm g.j-pieces path.dashDotDotLine {
    stroke-dasharray: 10, 2.5, 2.5, 2.5, 2.5, 2.5; 
}

.inch g.j-drawing line.dashDotDotLine,
.inch g.j-drawing path.dashDotDotLine,
.inch g.j-pieces path.dashDotDotLine {
    stroke-dasharray: 0.4, 0.1, 0.1, 0.1, 0.1, 0.1; 
}


g.j-drawing line.solidLine,
g.j-drawing path.solidLine,
g.j-drawing line.hair, /*deprecated*/
g.j-drawing path.hair  /*deprecated*/
{
    stroke:solid;
}

/* drawing circles & text  */

g.j-drawing circle {
    fill:#999; 
    stroke-width: 0px;
}

html[data-bs-theme="dark"]
g.j-drawing circle {
    fill:#4992b6; 
}

g.curve-control-point circle,
g.curve-control-point line {
    display: none;
}

g.j-drawing g.j-active g.curve-control-point circle {
    fill:orange; 
    stroke-width: 0px;
    display:initial;
}

g.j-drawing g.j-active g.curve-control-point line {
    stroke:orange; 
    display:initial;
}

path.edited-curve {
    stroke:orange !important; 
}

g.j-drawing text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    fill:#000;
}

html[data-bs-theme="dark"]
g.j-drawing text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /*TODO other font?*/
    fill:#d8d8d8;
}

g.j-drawing g.j-active > circle {
    fill:#000;
}

html[data-bs-theme="dark"]
g.j-drawing g.j-active > circle {
    fill:#67cdff;
}

/* table */

g.j-item div.desc {
    padding: 4px 8px;
    border:1px solid #ccc;
}

/* table - measurements */

g.j-item.j-measurement div.desc {
    background-color: #ffe7ef;
}

html[data-bs-theme="dark"]
g.j-item.j-measurement div.desc {
    color:#000;
}

/* table - variables */

g.j-item.j-variable div.desc {
    background-color:#e7faff;
}

html[data-bs-theme="dark"]
g.j-item.j-variable div.desc {
    color:#000;
}

/* table - pieces */

g.j-item.j-piece div.desc {
    background-color:#ae81db;
    opacity: 0.5;
}

html[data-bs-theme="dark"] g.j-item.j-piece div.desc {
    color: white !important;
}

g.j-item.j-piece.shown div.desc {
    opacity: 1;
}

g.j-item.j-active:not(.j-piece) div.desc {    
    padding: 3px 7px;
    border:2px solid #333;
    background-color: #ffc;
}

html[data-bs-theme="dark"]
g.j-item.j-active div.desc {
    color:#000;
}

g.j-item.error div.desc {    
    padding: 3px 7px;
    border:2px solid #ff0000;
    background-color: #fcc;
}

html[data-bs-theme="dark"]
g.j-item.error div.desc {
    color:#000;
}

g.j-item.error.j-active div.desc {    
    background-color: #fcc; 
}

html[data-bs-theme="dark"]
g.j-item.error.j-active div.desc {    
    color: #000;
}

g.j-item.error div.error {
    color: red;
    font-weight: bold;
}


g.j-item div.desc td { 
    padding-right: 8px; 
}

g.j-item div.comments {
    font-style: italic;
}

g.j-item.group-hidden {
    opacity: 0.5;
}

/* hidden drawing items should be displayed if selected, or source of selected */
g.j-drawing g.group-hidden {
    display:none;
}

g.j-drawing g.group-hidden.j-active,
g.j-drawing g.group-hidden.source {
    display:initial;
}

/* table - dependency links */

path.link {
    fill:none;
    stroke: #ddd;
    stroke-width: 1px;    
}

html[data-bs-theme="dark"]
path.link {
    stroke: #444;
}

path.link.source,
html[data-bs-theme="dark"] path.link.source {
    stroke:#449fdc;
    stroke-width: 3px;    
}

path.link.target, 
html[data-bs-theme="dark"] path.link.target
{
    stroke:#4ddc44;
    stroke-width: 3px;    
}

path.link.source.piece,
path.link.target.piece,
html[data-bs-theme="dark"] path.link.source.piece,
html[data-bs-theme="dark"] path.link.target.piece
{
    stroke:#ba85e5;
}

g.j-item.source div.desc {
    border-width:2px;
    border-color: #449fdc;
    padding: 3px 7px;
}

g.j-item.target div.desc {
    border-width:2px;
    border-color: #4ddc44;
    padding: 3px 7px;
}

/* drawing - outline */

g.j-outline circle {
    fill: #fff;
    opacity: 0.01; /* like none, but clickable*/
    stroke-width: 0px;
}

g.j-outline path,
g.j-outline line {
    stroke: #fff;
    opacity: 0.01; /*like none, but clickable*/
}

g.j-outline g.source > circle {
    fill: #449fdc80;
    opacity: 1;
}

@keyframes k-throb-stroke {
    0% {
      stroke:#fff;
      opacity: 0.01;
    }
    5% {
      stroke: #ff8;
      opacity: 1;
    }
    100% {
        stroke:#fff;
        opacity: 0.01;
    }
}

g.j-outline g.j-active > circle {
    fill: #ff8;
    opacity: 1;
}

html[data-bs-theme="dark"]
g.j-outline g.j-active > circle {
    opacity: 0.5;
}   

g.j-outline g.j-active:not(.j-active-2s) > path,
g.j-outline g.j-active:not(.j-active-2s) > line {
    animation-name: k-throb-stroke;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}

/*Remember, these won't apply to exported SVG*/

g.j-pieces path.seamline {
    fill: white;
    stroke:#929292;
}

html[data-bs-theme="dark"]
g.j-pieces path.seamline {
    fill: #505050;
    stroke: #f0f0f0;
}

/*Remember, these won't apply to exported SVG* /
.thumbnail g.j-pieces path.seamline {
    fill: #e0e0e0;
}*/

/*Remember, these won't apply to exported SVG*/
g.j-pieces path.seamallowance {
    fill: #f0f0f0;
    stroke: black;
}

html[data-bs-theme="dark"]
g.j-pieces path.seamallowance {
    fill: #303030;
    stroke: #f8f8f8;
}

g.j-pieces line.grainline {
    stroke: black;
}

html[data-bs-theme="dark"]
g.j-pieces line.grainline {
    stroke: white;
}

.arrow path{
    stroke: black;    
}

html[data-bs-theme="dark"] 
.arrow path
{
    stroke: white;
}

g.j-pieces path.internalpath,
g.j-pieces path.notch,
g.j-drawing line[stroke="white"],
g.j-drawing path[stroke="white"]{
    stroke:black;
}

html[data-bs-theme="dark"] g.j-pieces path.internalpath,
html[data-bs-theme="dark"] g.j-pieces path.notch, 
html[data-bs-theme="dark"] g.j-drawing line[stroke="black"],
html[data-bs-theme="dark"] g.j-drawing path[stroke="black"] {
    stroke:white;
}

g.j-pieces text.patternlabel,
g.j-pieces text.alongPath {
    fill: black;
}

html[data-bs-theme="dark"] g.j-pieces text.patternlabel,
html[data-bs-theme="dark"] g.j-pieces text.alongPath {
    fill: white;
}

/* the line from a point to its label positioned at mx,my */

line.labelLine {
    stroke:#d0d0d0;
}

html[data-bs-theme="dark"]
line.labelLine {
    stroke:#999;
}

/* overall patternn editor window */

div.pattern-editor-controls {    
    margin-bottom:15px;
}


div.pattern-editor-resize {
    display: inline-block;
    margin-left:10px;
    margin-right:10px;
    width:2px;
    border:1px solid #eee;
    position: relative;
}

html[data-bs-theme="dark"]
div.pattern-editor-resize {
    border:1px solid #666;
}

div.pattern-editor-resize:hover{
    border-color: black;
    cursor: ew-resize;
}

html[data-bs-theme="dark"]
div.pattern-editor-resize:hover{
    border-color: #eee;
}

svg.pattern-drawing { 
    display: inline-block;
    vertical-align: top;
}

div.pattern-table { 
    display: inline-block;
    overflow-y: scroll;
    vertical-align: top;
}

div.pattern-table:first-child { 
    margin-left:15px;
}

button.toggle-full-page,
button.zoom-to-fit,
button.toggle-options {
    margin-left: 8px;
}

div.pattern-editor div.pattern-main {
    position:absolute;
    right:0px;
    left:0px;    
}

div.pattern-editor.full-page {
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    padding:15px;
    background-color: white;
}

html[data-bs-theme="dark"]
div.pattern-editor.full-page {
    background-color:#222222;
}

div.isBS5 
div.pattern-editor.full-page {
    background-color: var(--bs-body-bg); /*works for BS5 light or dark mode*/
}

div.pattern-editor.full-page div.pattern-main {
        position: static;
}

/* pattern popup */

div.pattern-popup {
    position: relative;
    display: inline-block;
}

div.pattern-popup > div {
    display:none; 
    position: absolute; 
    z-index: 1; 
    background-color: white; 
    border: 1px solid silver; 
    border-radius: 6px; 
    padding: 8px;
    top: -22px;
    left: 8px;
}

.k-dark-mode div.pattern-popup > div {
    background-color: #222222;
    border-color: #00a379;
}

div.pattern-popup button {
    float: right;
    padding: 4px;
    margin-left: 4px;
    margin-bottom: 4px;
    margin-top: -8px;
    margin-right: -6px;
    border-style: none;
    background-color: inherit;
}

div.pattern-popup > div h2 {
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 2px;
}

div.pattern-popup div.group-option {
    white-space: nowrap;
}

div.pattern-popup div.formula-option:nth-child(n+3){
    border-top: 1px solid silver;
    padding-top: 4px;
    margin-top: 4px;
}

.k-dark-mode div.pattern-popup div.formula-option:nth-child(n+3) {
    border-color: #00a379;
}

div.pattern-popup i {
    min-width: 1.25em;
    display: inline-block;
}

div.pattern-popup i.icon-ellipsis-horizontal,
div.pattern-popup i.fa-ellipsis {
    margin-left: 6px;
    display: inline-block;
}

div.pattern-popup #wallpapersMenu ul  {
    padding-left: 0px;
}

div.pattern-popup #wallpapersMenu li  {
    display: block;
    white-space: nowrap;
}

div.pattern-popup #wallpapersMenu i.fa-regular,
div.pattern-popup #optionMenu i.fa-regular,
div.pattern-popup #optionMenu i.fa-solid {
    padding-right: 4px;
    width: 1.4em;
}

table#measurementsTable {
    width:auto;
}

table#measurementsTable td:last-child {
    text-align: right;
    white-space: nowrap;
}