/* 
    Created on : 04-Aug-2019, 17:45:21
    Author     : jase
*/

span.ps-name,
span.ps-ref {
    font-weight: bold;
}
/*
span.ps-ref:hover {
    text-decoration: underline;
}*/

g.j-item.j-active span.ps-ref {
    /*text-decoration: underline; try dotted */
    color: #3378a7;
}


g.j-point > line.dotLine,
g.j-point > path.dotLine {
    stroke-dasharray: 0.25, 0.25; 
}

g.j-point > line.dashLine,
g.j-point > path.dashLine {
    stroke-dasharray: 1, 0.25; 
}

g.j-point > line.dashDotLine,
g.j-point > path.dashDotLine {
    stroke-dasharray: 1, 0.25, 0.25, 0.25; 
}

g.j-point > line.dashDotLine,
g.j-point > path.dashDotLine {
    stroke-dasharray: 1, 0.25, 0.25, 0.25, 0.25, 0.25; 
}

g.j-point > line.hair,
g.j-point > path.hair {
    stroke:solid;
}

g.j-point > circle {
    fill:#999;
    stroke-width: 0px;
}

g.j-point > text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    fill:#000;
}

g.j-active.j-point > circle {
    fill:#000;
}

g.j-item div.desc {
    padding: 4px 8px;
    border:1px solid #ccc;
}

g.j-item.j-active div.desc {    
    padding: 3px 7px;
    border:2px solid #333;
    background-color: #ffc;
}

g.j-item.error div.desc {    
    padding: 3px 7px;
    border:2px solid #ff0000;
    background-color: #fcc;
}

g.j-item.error.j-active div.desc {    
    background-color: #fcc;
}

g.j-item.error div.error {
    color: red;
    font-weight: bold;
}

path.link {
    fill:none;
    stroke: #ddd;
    stroke-width: 1px;    
}

path.link.source {
    fill:none;
    stroke:#449fdc;
    stroke-width: 3px;    
}

path.link.target {
    fill:none;
    stroke:#4ddc44;
    stroke-width: 3px;    
}

g.j-item.source div.desc {
    border-width:2px;
    border-color: #449fdc;
    padding: 3px 7px;
}

g.j-item.target div.desc {
    border-width:2px;
    border-color: #4ddc44;
    padding: 3px 7px;
}

g.j-outline > circle {
    fill: #fff;
    opacity: 0.01; /* like none, but clickable*/
    stroke-width: 0px;
}

g.j-outline > path,
g.j-outline > line {
    stroke: #fff;
    opacity: 0.01; /*like none, but clickable*/
}

/*
g.j-outline.target > circle {
    fill: #4ddc44;
    opacity: 1;
}*/

g.j-outline.source > circle {
    fill: #449fdc80;
    opacity: 1;
}

@keyframes k-throb-stroke {
    0% {
      stroke:#fff;
      opacity: 0.01;
    }
    5% {
      stroke: #ff8;
      opacity: 1;
    }
    100% {
        stroke:#fff;
        opacity: 0.01;
    }
}
/*
@keyframes k-throb-fill {
    0% {
      fill:#fff;
      opacity: 0.01;
    }
    5% {
      fill: #ff8;
      opacity: 1;
    }
    100% {
        fill:#fff;
        opacity: 0.01;
    }
}*/

g.j-outline.j-active > circle {
    fill: #ff8;
    opacity: 1;
    /*
    animation-name: k-throb-fill;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: ease-out;
    */
}
    

g.j-outline.j-active > path,
g.j-outline.j-active > line {
    /*stroke: #ff8;*/
    animation-name: k-throb-stroke;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}

span.control-point { color: green }

div.pattern-editor-controls {    
    margin-bottom:15px;
}

svg.pattern-drawing { 
    display: inline-block;
    margin-right: 15px; 
}

div.pattern-table { 
    display: inline-block;
    margin-left: 15px; 
    overflow-y: scroll;
}

button.toggle-full-page,
button.toggle-show_formulas {
    margin-left: 8px;
}

div.pattern-editor.full-page {
    /* better, but is then on top of any callouts! also adjust availeble width/height by 30 
    position:fixed; z-index: 2000;
    top:0px;
    left:0px;
    right:0px;
    bottom: 0px;
    padding: 15px;
    */
    position:absolute;
    top:15px;
    left:15px;
    right:15px;
    bottom: 15px;
    background-color: white;
}
